.weather>div {
    display: inline-block
}

.weather .image {
    vertical-align: top
}

.weather .wIcon {
    position: relative;
    top: -20px
}

.weather .text .htext {
    display: block;
    font-size: 1em
}

.weather .text .htext>div {
    display: inline-block
}

.weather .text .ltext {
    display: block
}