/*---------------------------------------
    bereikbaarheid             
  -----------------------------------------*/
  .bereikbaarheid-section {
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    img{
      width:100%;
    }
  }