/*---------------------------------------
    SPONSORS             
  -----------------------------------------*/
  .sponsor-section {
    background-color: var(--secondary-color);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    img{
      width:100%;
    }
  }