/*---------------------------------------
    WAT             
  -----------------------------------------*/
  .wat-section {
    background-color: var(--secondary-color);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    }